@charset "UTF-8";

/* god theme: Call me to include god in your SASS projects.*/

main > h1 {
  font-size: 150%;
}

main > h2 {
  font-size: 129.2%;
}

main > h3 {
  font-size: 116.7%;
}

main > h4 {
  font-size: 108.3%;
}

main > h5 {
  font-size: 104.2%;
}

main > h6 {
  font-size: 100%;
}

main > h1,
main > h2,
main > h3,
main > h4,
main > p,
main > ol,
main > ul,
main > dl,
main > hr,
main > footer,
main > pre,
main > table,
main > form {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 30% !important;
  margin-right: 15% !important;
  padding: 12px 1%;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > p,
  main > ol,
  main > ul,
  main > dl,
  main > hr,
  main > footer,
  main > pre,
  main > table,
  main > form {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 18.75% !important;
    margin-right: 3.75% !important;
  }
}

@media screen and (max-width: 800px) {
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > p,
  main > ol,
  main > ul,
  main > dl,
  main > hr,
  main > footer,
  main > pre,
  main > table,
  main > form {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 12px !important;
    margin-right: 12px !important;
    padding: 3px;
  }
}

main > nav,
main > div {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 1%;
  width: 14% !important;
  break-before: always !important;
  /* give way on right */
  clear: right;
  float: right;
  margin-left: 1% !important;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  main > nav,
  main > div {
    width: 19.4% !important;
  }
}

@media screen and (min-width: 1301px) {
  main > nav,
  main > div {
    width: 12.38% !important;
  }
}

main > blockquote,
main > header,
main > menu,
main > figure {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 1%;
  width: 29% !important;
  clear: left;
  float: left;
  margin-right: 1% !important;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  main > blockquote,
  main > header,
  main > menu,
  main > figure {
    full: 5.4%;
    width: 34.4% !important;
  }
}

@media screen and (min-width: 1301px) {
  main > blockquote,
  main > header,
  main > menu,
  main > figure {
    full: 5.4%;
    width: 27.38% !important;
  }
}

@media screen and (max-width: 800px) {
  main > nav,
  main > div,
  main > blockquote,
  main > header,
  main > menu,
  main > figure {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 12px 1%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  main > nav,
  main > div,
  main > blockquote,
  main > header,
  main > menu,
  main > figure {
    margin-bottom: 15.6px !important;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  main > nav,
  main > div,
  main > blockquote,
  main > header,
  main > menu,
  main > figure {
    margin-bottom: 19.2px !important;
  }
}

@media screen and (min-width: 1301px) {
  main > nav,
  main > div,
  main > blockquote,
  main > header,
  main > menu,
  main > figure {
    margin-bottom: 22.8px !important;
  }
}

main > ol > li {
  margin-left: 12px !important;
}

main > ol > li > * {
  display: inline;
}

@media screen and (max-width: 1000px) {
  main > ol > li {
    list-style: inside;
  }
}

main > ul > li {
  margin-left: 12px !important;
}

main > ul > li > * {
  display: inline;
}

@media screen and (max-width: 1000px) {
  main > ul > li {
    list-style: inside;
  }
}

/* eve theme: Call me to include eve in your SASS projects.*/

/* adon theme: Call me to include adon in your SASS projects.*/

main > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

main > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

main > .adonStatus-fixed {
  position: fixed;
}

main > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  main > .adonStatus-sticky {
    position: relative;
  }

  main > .adonStatus-fixed {
    position: relative;
  }
}

main > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 1000px) {
  main > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

main > .adonToolBar.slavehidden {
  margin-top: 12px !important;
  background-color: #0d0a00 !important;
}

main > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 500ms linear 0s, all 500ms;
  visibility: visible;
}

main > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0 !important;
  line-height: 0;
  transition: visibility 0s linear 500ms, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

main > nav.adonToolBar,
main > div.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 1000px) {
  main > nav.adonToolBar,
  main > div.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 1000px) {
  main > .adonHideOnScrollDown {
    transition: all 500ms;
    transition-timing-function: ease-in;
    -webkit-transition: all 500ms;
    -webkit-transition-timing-function: ease-in;
  }

  main > .adonHideOnScrollDown.adonHide {
    position: absolute;
    position: -webkit-absolute;
    top: -500px;
  }
}

main > .adonNavScrollLink {
  cursor: pointer !important;
}

main > .adonNavScrollLink.adonnavactive {
  background-color: #0d0a00 !important;
  color: #fff;
}

/* innocent theme: Call me to include innocent in your SASS projects.*/

body {
  font-family: "Montserrat";
}

main > menu {
  box-sizing: border-box;
  position: relative;
}

main > menu:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

main > menu * {
  box-sizing: border-box;
}

main > menu a {
  text-decoration: none;
}

main > menu label {
  font-weight: bold;
}

main > menu a,
main > menu label {
  cursor: pointer;
  display: block;
  padding: 3px 12px;
  white-space: nowrap;
}

main > menu menu,
main > menu nav {
  margin: 0;
  padding: 0;
}

main > menu menu > nav menu,
main > menu menu > nav nav {
  display: none;
}

main > menu menu:hover > nav {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

main > menu > a,
main > menu > menu,
main > menu > nav {
  float: left;
}

main > menu menu:hover > label + menu,
main > menu menu:hover > label + nav,
main > menu nav:hover > label + menu,
main > menu nav:hover > label + nav {
  position: absolute;
}

main > nav {
  box-sizing: border-box;
}

main > nav:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

main > nav * {
  box-sizing: border-box;
}

main > nav a {
  text-decoration: none;
  display: block;
}

main > nav label {
  font-weight: bold;
}

main > nav a,
main > nav label {
  cursor: pointer;
  display: block;
  padding-right: 0;
  white-space: nowrap;
}

main > nav menu,
main > nav nav {
  margin: 0;
  padding: 0;
  position: relative;
}

main > nav menu > nav menu,
main > nav menu > nav nav {
  display: none;
}

main > nav menu:hover > nav {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

details {
  background: #fcd7b5;
  border: #fabc84 1px solid;
  color: #000;
  padding: 0;
}

details summary {
  background: #fabc84;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
}

details > * {
  padding: 3px 12px;
}

dl {
  padding-bottom: 12px;
  padding-top: 12px;
}

dl > dt {
  font: 800 130% "Montserrat";
  padding-top: 12px;
}

dl > dd {
  margin-left: 0;
  padding-bottom: 12px;
}

figure {
  border: 1px #fcd7b5 solid;
  box-sizing: border-box;
  padding: 12px 12px !important;
}

figure img {
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

figure figcaption {
  color: #0d0a00;
  font-family: "Montserrat";
  margin-top: 12px;
}

@media screen and (max-width: 800px) {
  figure {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

form label {
  margin-top: 12px;
}

form legend {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 1%;
  margin-top: 1%;
}

form label,
form legend {
  color: #fabc84;
  font-family: "Montserrat";
}

form textarea {
  width: 100%;
}

form input[type="checkbox"],
form input[type="radio"] {
  margin-right: 3px;
}

form input[type="checkbox"] + label,
form input[type="radio"] + label {
  color: #fabc84;
  font-family: "Montserrat";
  display: inline-block;
  margin-right: 12px;
  page-break-before: avoid;
}

form fieldset {
  border: 1px #fcd7b5 solid;
  margin-top: 12px;
  padding: 0 12px;
}

form fieldset label {
  display: block;
}

form fieldset button,
form fieldset input,
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 12px;
}

form fieldset input[type="email"],
form fieldset input[type="number"],
form fieldset input[type="password"],
form fieldset input[type="search"],
form fieldset input[type="tel"],
form fieldset input[type="text"],
form fieldset input[type="url"],
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input[type="color"],
form fieldset input[type="range"] {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: middle;
}

form fieldset input[type="date"],
form fieldset input[type="time"],
form fieldset input[type="datetime"],
form fieldset input[type="datetime-local"],
form fieldset input[type="month"],
form fieldset input[type="week"] {
  margin-bottom: 12px;
}

form fieldset button,
form fieldset input[type="submit"],
form fieldset input[type="reset"] {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  form {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98%;
  }
}

header {
  font-size: 130%;
  padding: 1%;
  text-align: center;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-bottom: 12px;
  margin-top: 12px;
}

hr {
  border: 1px #fcd7b5 solid;
  margin-bottom: 12px;
  margin-top: 12px;
}

img {
  height: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 1000px) {
  img {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

pre {
  background: #fcd7b5;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 800px) {
  pre {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

table {
  display: table !important;
  text-align: left;
}

table td,
table th {
  padding: 3px 12px;
}

table > thead th,
table > tfoot th,
table > tbody th {
  color: #0d0a00;
  font-family: "Montserrat";
  font-weight: 800;
}

table > thead th {
  border-bottom: 1px solid #fcd7b5;
}

table > tfoot th {
  border-top: 1px solid #fcd7b5;
  text-align: right;
}

table > tbody td,
table > tbody th {
  border-bottom: 1px solid #fcd7b5;
}

@media screen and (max-width: 800px) {
  table {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98%;
  }
}

a {
  text-decoration: none;
}

big {
  font-size: 130%;
}

input[type="file"],
button {
  background: #fff;
  color: #0d0a00;
  border-radius: 5px;
  border: 1px #fcd7b5 solid;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  padding: 3px 12px;
  text-decoration: none;
}

input[type="file"] > img,
button > img {
  max-height: 88px;
  height: auto;
}

input[type="file"]:hover,
input[type="file"].selected,
input[type="file"].active,
button:hover,
button.selected,
button.active {
  background: #0d0a00;
  border: 1px #fcd7b5 solid;
  color: #fff;
}

input[type="file"]:disabled,
button:disabled {
  background: #0d0a00;
  border: 0;
  color: #fff;
  cursor: not-allowed;
}

input[type="file"] big,
button big {
  font-weight: bold;
  vertical-align: middle;
}

code {
  background: rgba(252, 215, 181, 0.3);
  border: 0;
  color: #000;
  padding: 0 3px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #0d0a00;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 3px 12px;
}

small {
  font-size: 130%;
}

main {
  min-height: 400px;
}

body > menu {
  margin: 0;
  max-width: 0 !important;
  padding: 0;
  position: fixed;
  width: 0 !important;
  left: -1em;
  top: -1em !important;
}

body > menu > label > img {
  border-radius: 50%;
  display: block;
  height: 5em;
  margin: 0;
  padding: 0;
  transition: all 500ms ease-out;
  width: 5em;
}

body > menu:hover > label > img {
  transform: scale3d(5.3, 5.3, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

body > menu > nav {
  padding: 0;
  margin: 0;
  width: 0;
}

body > menu > nav > a {
  display: block;
  position: absolute;
  right: -4.5em;
  top: 0;
  transition: transform 500ms ease;
  z-index: 2;
}

body > menu > nav > a > img {
  height: 3.2em;
  width: 3.2em;
  opacity: 0;
}

body > menu > nav > a > img:hover {
  transform: scale3d(1.3, 1.3, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

body > menu:hover > nav > a > img {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body > menu:hover > nav > a:nth-child(1) {
  transform: translate3d(8.93292em, 1.09682em, 0);
}

body > menu:hover > nav > a:nth-child(1) img {
  opacity: 1;
}

body > menu:hover > nav > a:nth-child(2) {
  transform: translate3d(7.63243em, 4.76927em, 0);
}

body > menu:hover > nav > a:nth-child(2) img {
  opacity: 1;
}

body > menu:hover > nav > a:nth-child(3) {
  transform: translate3d(4.90175em, 7.54804em, 0);
}

body > menu:hover > nav > a:nth-child(3) img {
  opacity: 1;
}

body > menu:hover > nav > a:nth-child(4) {
  transform: translate3d(1.25256em, 8.91241em, 0);
}

body > menu:hover > nav > a:nth-child(4) img {
  opacity: 1;
}

body > footer {
  border: none;
  border-top: 2px solid #0d0a00;
  font-size: 0.75rem;
  padding: 1%;
  text-align: center;
}

body > footer img {
  height: 80px;
  width: auto;
}

body > footer label {
  white-space: nowrap;
}

main > {
  padding-top: 50px !important;
}

main > h1 cite,
main > h2 cite,
main > h3 cite,
main > h4 cite,
main > p cite,
main > ol cite,
main > ul cite,
main > dl cite,
main > hr cite,
main > footer cite,
main > pre cite,
main > table cite,
main > form cite {
  background-color: #fff;
}

main > h1 var,
main > h2 var,
main > h3 var,
main > h4 var,
main > p var,
main > ol var,
main > ul var,
main > dl var,
main > hr var,
main > footer var,
main > pre var,
main > table var,
main > form var {
  background-color: #ffd340;
}

main > h1 > li > ul,
main > h2 > li > ul,
main > h3 > li > ul,
main > h4 > li > ul,
main > p > li > ul,
main > ol > li > ul,
main > ul > li > ul,
main > dl > li > ul,
main > hr > li > ul,
main > footer > li > ul,
main > pre > li > ul,
main > table > li > ul,
main > form > li > ul {
  border: 0;
}

main > blockquote {
  background: #fabc84;
  color: #181818;
  quotes: "“" "”" "‘" "’";
  padding-top: 25px !important;
  padding-bottom: 100px !important;
  border: 0 !important;
  font-size: 130%;
}

main > blockquote:before {
  content: open-quote;
  color: #0d0a00;
  display: inline;
  font-size: 200px;
  height: 0;
  left: 1%;
  line-height: 0;
  position: relative;
  top: 66.66667px;
}

main > blockquote::after {
  content: close-quote;
  color: #0d0a00;
  display: inline;
  float: right;
  font-size: 200px;
  height: 0;
  line-height: 0;
  position: relative;
  right: 1%;
  top: 66.66667px;
}

main > blockquote a {
  font-style: italic;
}

@media (max-width: 800px) {
  main > blockquote {
    width: 100% !important;
  }
}

main > blockquote strong {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  display: block;
  margin-top: 12px;
  padding-right: 1%;
}

main > figure {
  background: #fabc84;
  border: 0;
  color: #fff;
}

main > figure img {
  width: 100%;
  height: auto;
}

main > form input[type="text"],
main > form input[type="password"],
main > form input[type="email"],
main > form input[type="url"],
main > form input[type="date"],
main > form input[type="month"],
main > form input[type="time"],
main > form input[type="datetime"],
main > form input[type="datetime-local"],
main > form input[type="week"],
main > form input[type="number"],
main > form input[type="search"],
main > form input[type="tel"],
main > form select,
main > form textarea {
  width: 100%;
  margin-bottom: 12px;
}

main > form fieldset {
  margin-bottom: 15px;
}
/*# sourceMappingURL=sammy-flesh.css.map */
