@charset "UTF-8";

/* god theme: Call me to include god in your SASS projects.*/

body > h1 {
  font-size: 150%;
}

body > h2 {
  font-size: 129.2%;
}

body > h3 {
  font-size: 116.7%;
}

body > h4 {
  font-size: 108.3%;
}

body > h5 {
  font-size: 104.2%;
}

body > h6 {
  font-size: 100%;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > p,
body > ol,
body > ul,
body > dl,
body > hr,
body > footer,
body > pre {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 30% !important;
  margin-right: 30% !important;
  padding: 12px 1%;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > p,
  body > ol,
  body > ul,
  body > dl,
  body > hr,
  body > footer,
  body > pre {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 15% !important;
    margin-right: 15% !important;
  }
}

@media screen and (max-width: 800px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > p,
  body > ol,
  body > ul,
  body > dl,
  body > hr,
  body > footer,
  body > pre {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 12px !important;
    margin-right: 12px !important;
    padding: 3px;
  }
}

body > div {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 1%;
  width: 29% !important;
  break-before: always !important;
  /* give way on right */
  clear: right;
  float: right;
  margin-left: 1% !important;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > div {
    width: 32.9% !important;
  }
}

@media screen and (min-width: 1301px) {
  body > div {
    width: 27.83% !important;
  }
}

body > blockquote,
body > header,
body > menu,
body > nav,
body > figure {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 1%;
  width: 29% !important;
  clear: left;
  float: left;
  margin-right: 1% !important;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > blockquote,
  body > header,
  body > menu,
  body > nav,
  body > figure {
    full: 3.9%;
    width: 32.9% !important;
  }
}

@media screen and (min-width: 1301px) {
  body > blockquote,
  body > header,
  body > menu,
  body > nav,
  body > figure {
    full: 3.9%;
    width: 27.83% !important;
  }
}

@media screen and (max-width: 800px) {
  body > div,
  body > blockquote,
  body > header,
  body > menu,
  body > nav,
  body > figure {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 12px 1%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > div,
  body > blockquote,
  body > header,
  body > menu,
  body > nav,
  body > figure {
    margin-bottom: 15.6px !important;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  body > div,
  body > blockquote,
  body > header,
  body > menu,
  body > nav,
  body > figure {
    margin-bottom: 19.2px !important;
  }
}

@media screen and (min-width: 1301px) {
  body > div,
  body > blockquote,
  body > header,
  body > menu,
  body > nav,
  body > figure {
    margin-bottom: 22.8px !important;
  }
}

body > ol > li {
  margin-left: 12px !important;
}

body > ol > li > * {
  display: inline;
}

@media screen and (max-width: 1000px) {
  body > ol > li {
    list-style: inside;
  }
}

body > ul > li {
  margin-left: 12px !important;
}

body > ul > li > * {
  display: inline;
}

@media screen and (max-width: 1000px) {
  body > ul > li {
    list-style: inside;
  }
}

/* eve theme: Call me to include eve in your SASS projects.*/

/* adon theme: Call me to include adon in your SASS projects.*/

body > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

body > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

body > .adonStatus-fixed {
  position: fixed;
}

body > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  body > .adonStatus-sticky {
    position: relative;
  }

  body > .adonStatus-fixed {
    position: relative;
  }
}

body > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 1000px) {
  body > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

body > .adonToolBar.slavehidden {
  margin-top: 12px !important;
  background-color: #0d0a00 !important;
}

body > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 500ms linear 0s, all 500ms;
  visibility: visible;
}

body > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0 !important;
  line-height: 0;
  transition: visibility 0s linear 500ms, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

body > div.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 1000px) {
  body > div.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 1000px) {
  body > .adonHideOnScrollDown {
    transition: all 500ms;
    transition-timing-function: ease-in;
    -webkit-transition: all 500ms;
    -webkit-transition-timing-function: ease-in;
  }

  body > .adonHideOnScrollDown.adonHide {
    position: absolute;
    position: -webkit-absolute;
    top: -500px;
  }
}

body > .adonNavScrollLink {
  cursor: pointer !important;
}

body > .adonNavScrollLink.adonnavactive {
  background-color: #0d0a00 !important;
  color: #fff;
}

/* innocent theme: Call me to include innocent in your SASS projects.*/

body {
  font-family: "Montserrat";
}

body > menu {
  box-sizing: border-box;
  position: relative;
}

body > menu:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

body > menu * {
  box-sizing: border-box;
}

body > menu a {
  text-decoration: none;
}

body > menu label {
  font-weight: bold;
}

body > menu a,
body > menu label {
  cursor: pointer;
  display: block;
  padding: 3px 12px;
  white-space: nowrap;
}

body > menu menu,
body > menu nav {
  margin: 0;
  padding: 0;
}

body > menu menu > nav menu,
body > menu menu > nav nav {
  display: none;
}

body > menu menu:hover > nav {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

body > menu > a,
body > menu > menu,
body > menu > nav {
  float: left;
}

body > menu menu:hover > label + menu,
body > menu menu:hover > label + nav,
body > menu nav:hover > label + menu,
body > menu nav:hover > label + nav {
  position: absolute;
}

body > nav {
  box-sizing: border-box;
}

body > nav:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

body > nav * {
  box-sizing: border-box;
}

body > nav a {
  text-decoration: none;
  display: block;
}

body > nav label {
  font-weight: bold;
}

body > nav a,
body > nav label {
  cursor: pointer;
  display: block;
  padding-right: 0;
  white-space: nowrap;
}

body > nav menu,
body > nav nav {
  margin: 0;
  padding: 0;
  position: relative;
}

body > nav menu > nav menu,
body > nav menu > nav nav {
  display: none;
}

body > nav menu:hover > nav {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

details {
  background: #fcd7b5;
  border: #fabc84 1px solid;
  color: #000;
  padding: 0;
}

details summary {
  background: #fabc84;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
}

details > * {
  padding: 3px 12px;
}

dl {
  padding-bottom: 12px;
  padding-top: 12px;
}

dl > dt {
  font: 800 130% "Montserrat";
  padding-top: 12px;
}

dl > dd {
  margin-left: 0;
  padding-bottom: 12px;
}

figure {
  border: 1px #fcd7b5 solid;
  box-sizing: border-box;
  padding: 12px 12px !important;
}

figure img {
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

figure figcaption {
  color: #0d0a00;
  font-family: "Montserrat";
  margin-top: 12px;
}

@media screen and (max-width: 800px) {
  figure {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

form label {
  margin-top: 12px;
}

form legend {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 1%;
  margin-top: 1%;
}

form label,
form legend {
  color: #fabc84;
  font-family: "Montserrat";
}

form textarea {
  width: 100%;
}

form input[type="checkbox"],
form input[type="radio"] {
  margin-right: 3px;
}

form input[type="checkbox"] + label,
form input[type="radio"] + label {
  color: #fabc84;
  font-family: "Montserrat";
  display: inline-block;
  margin-right: 12px;
  page-break-before: avoid;
}

form fieldset {
  border: 1px #fcd7b5 solid;
  margin-top: 12px;
  padding: 0 12px;
}

form fieldset label {
  display: block;
}

form fieldset button,
form fieldset input,
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 12px;
}

form fieldset input[type="email"],
form fieldset input[type="number"],
form fieldset input[type="password"],
form fieldset input[type="search"],
form fieldset input[type="tel"],
form fieldset input[type="text"],
form fieldset input[type="url"],
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input[type="color"],
form fieldset input[type="range"] {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: middle;
}

form fieldset input[type="date"],
form fieldset input[type="time"],
form fieldset input[type="datetime"],
form fieldset input[type="datetime-local"],
form fieldset input[type="month"],
form fieldset input[type="week"] {
  margin-bottom: 12px;
}

form fieldset button,
form fieldset input[type="submit"],
form fieldset input[type="reset"] {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  form {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98%;
  }
}

header {
  font-size: 130%;
  padding: 1%;
  text-align: center;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-bottom: 12px;
  margin-top: 12px;
}

hr {
  border: 1px #fcd7b5 solid;
  margin-bottom: 12px;
  margin-top: 12px;
}

img {
  height: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 1000px) {
  img {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

pre {
  background: #fcd7b5;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 800px) {
  pre {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

table {
  display: table !important;
  text-align: left;
}

table td,
table th {
  padding: 3px 12px;
}

table > thead th,
table > tfoot th,
table > tbody th {
  color: #0d0a00;
  font-family: "Montserrat";
  font-weight: 800;
}

table > thead th {
  border-bottom: 1px solid #fcd7b5;
}

table > tfoot th {
  border-top: 1px solid #fcd7b5;
  text-align: right;
}

table > tbody td,
table > tbody th {
  border-bottom: 1px solid #fcd7b5;
}

@media screen and (max-width: 800px) {
  table {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98%;
  }
}

a {
  text-decoration: none;
}

big {
  font-size: 130%;
}

input[type="file"],
button {
  background: #fff;
  color: #0d0a00;
  border-radius: 5px;
  border: 1px #fcd7b5 solid;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  padding: 3px 12px;
  text-decoration: none;
}

input[type="file"] > img,
button > img {
  max-height: 88px;
  height: auto;
}

input[type="file"]:hover,
input[type="file"].selected,
input[type="file"].active,
button:hover,
button.selected,
button.active {
  background: #0d0a00;
  border: 1px #fcd7b5 solid;
  color: #fff;
}

input[type="file"]:disabled,
button:disabled {
  background: #0d0a00;
  border: 0;
  color: #fff;
  cursor: not-allowed;
}

input[type="file"] big,
button big {
  font-weight: bold;
  vertical-align: middle;
}

code {
  background: rgba(252, 215, 181, 0.3);
  border: 0;
  color: #000;
  padding: 0 3px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #0d0a00;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 3px 12px;
}

small {
  font-size: 130%;
}

main {
  min-height: 200px;
}

body menu {
  margin: 0;
  max-width: 0 !important;
  padding: 0;
  position: fixed;
  width: 0 !important;
  left: -2em;
  top: -1.3em !important;
}

body menu > label > img {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 6em;
  height: 6em;
  transition: all 500ms ease-out;
}

body menu:hover > label > img {
  transform: scale3d(6.3, 6.3, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

body menu > nav {
  padding: 0;
  margin: 0;
  width: 0;
}

body menu > nav > a {
  display: block;
  position: absolute;
  right: -4.5em;
  top: 0;
  transition: transform 500ms ease;
  z-index: 2;
}

body menu > nav > a > img {
  height: 3.6em;
  width: 3.6em;
  opacity: 0;
}

body menu > nav > a > img:hover {
  transform: scale3d(1.3, 1.3, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

body menu:hover > nav > a > img {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body menu:hover > nav > a:nth-child(1) {
  transform: translate3d(14.88819em, 1.82804em, 0);
}

body menu:hover > nav > a:nth-child(1) img {
  opacity: 1;
}

body menu:hover > nav > a:nth-child(2) {
  transform: translate3d(12.72072em, 7.94879em, 0);
}

body menu:hover > nav > a:nth-child(2) img {
  opacity: 1;
}

body menu:hover > nav > a:nth-child(3) {
  transform: translate3d(8.16959em, 12.58006em, 0);
}

body menu:hover > nav > a:nth-child(3) img {
  opacity: 1;
}

body menu:hover > nav > a:nth-child(4) {
  transform: translate3d(2.0876em, 14.85402em, 0);
}

body menu:hover > nav > a:nth-child(4) img {
  opacity: 1;
}

body > {
  padding-top: 50px !important;
}

body > h1 cite,
body > h2 cite,
body > h3 cite,
body > h4 cite,
body > p cite,
body > ol cite,
body > ul cite,
body > dl cite,
body > hr cite,
body > footer cite,
body > pre cite {
  background-color: #fff;
}

body > h1 var,
body > h2 var,
body > h3 var,
body > h4 var,
body > p var,
body > ol var,
body > ul var,
body > dl var,
body > hr var,
body > footer var,
body > pre var {
  background-color: #ffd340;
}

body > h1 > li > ul,
body > h2 > li > ul,
body > h3 > li > ul,
body > h4 > li > ul,
body > p > li > ul,
body > ol > li > ul,
body > ul > li > ul,
body > dl > li > ul,
body > hr > li > ul,
body > footer > li > ul,
body > pre > li > ul {
  border: 0;
}

@media screen and (max-width: 800px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > p,
  body > ol,
  body > ul,
  body > dl,
  body > hr,
  body > footer,
  body > pre {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

body > blockquote {
  background: #fabc84;
  color: #181818;
  quotes: "“" "”" "‘" "’";
  padding-top: 25px !important;
  padding-bottom: 100px !important;
  border: 0 !important;
  font-size: 130%;
}

body > blockquote:before {
  content: open-quote;
  color: #0d0a00;
  display: inline;
  font-size: 200px;
  height: 0;
  left: 1%;
  line-height: 0;
  position: relative;
  top: 66.66667px;
}

body > blockquote::after {
  content: close-quote;
  color: #0d0a00;
  display: inline;
  float: right;
  font-size: 200px;
  height: 0;
  line-height: 0;
  position: relative;
  right: 1%;
  top: 66.66667px;
}

body > blockquote a {
  font-style: italic;
}

@media (max-width: 800px) {
  body > blockquote {
    width: 100% !important;
  }
}

body > blockquote strong {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  display: block;
  margin-top: 12px;
  padding-right: 1%;
}

body > figure {
  background: #fabc84;
  border: 0;
  color: #fff;
}

body > figure img {
  width: 100%;
  height: auto;
}

body > form input[type="text"],
body > form input[type="password"],
body > form input[type="email"],
body > form input[type="url"],
body > form input[type="date"],
body > form input[type="month"],
body > form input[type="time"],
body > form input[type="datetime"],
body > form input[type="datetime-local"],
body > form input[type="week"],
body > form input[type="number"],
body > form input[type="search"],
body > form input[type="tel"],
body > form select,
body > form textarea {
  width: 100%;
  margin-bottom: 12px;
}

body > table {
  border-spacing: 0;
  overflow-x: auto;
  text-align: left;
  vertical-align: top;
}

body > table caption {
  font-size: 0.9em;
  background: color("secondary");
}

body > table td,
body > table th {
  padding: 0.35em 0.75em;
  vertical-align: top;
  font-size: 0.9em;
  border: 1px solid color("invisible");
  border-top: 0;
  border-left: 0;
}

body > table td:first-child,
body > table th:first-child {
  padding-left: 0;
  background-size: 2px 100%;
  background-repeat: no-repeat;
}

body > table td:last-child,
body > table th:last-child {
  padding-right: 0;
  border-right: 0;
  background: no-repeat 100% 0;
  background-size: 2px 100%;
}

body > table td:only-child,
body > table th:only-child {
  background: no-repeat, no-repeat 0 0, 100% 0;
  background-size: 2px 100%, 2px 100%;
}

body > table th {
  line-height: size("line-height-min");
}

footer {
  border: none;
  border-top: 2px solid #0d0a00;
  font-size: 0.75rem;
  padding: 1%;
  text-align: center;
}

footer img {
  height: auto;
  max-width: 100%;
}

footer label {
  white-space: nowrap;
}
/*# sourceMappingURL=flesh.css.map */
