@import "node_modules/mathsass/dist/math";

@mixin menu_circle(
  $hpos,
  $vpos,
  $hoffset,
  $voffset,
  $radius,
  $spokes,
  $trigger-size,
  $trigger-scale,
  $btnsize
) {
  // A map of starting hours for the first button depending on menu positions:
  $start-o-clocks: (
    "top": (
      "left": 2.4,
      "center": 1.65,
      "right": 5
    ),
    "bottom": (
      "left": 11,
      "center": 7.7,
      "right": 8
    ),
    "middle": (
      "left": 12,
      "center": 12,
      "right": 6
    )
  ); // NB: Spokes are laid out clockwise from the first spoke.
  // The `$start-o-clock` map sets the "hour" for the first spoke depending on menu position.
  // Option: Hard code this instead.
  $start-o-clock: map-get(map-get($start-o-clocks, $vpos), $hpos) - 3; // zero is at 3 o'clock.
  // A map of arc lengths for the various menu positions:
  $angles: (
    "top": (
      "left": 100,
      "center": 210,
      "right": 120
    ),
    "bottom": (
      "left": 120,
      "center": 210,
      "right": 120
    ),
    "middle": (
      "left": 180,
      "center": 360,
      "right": 180
    )
  ); // `$visible-angle` changes the arc length depending on menu position.
  // e.g. 360 degrees page center or 90 degrees top left.
  // Option: Hard code this instead.
  $visible-angle: map-get(map-get($angles, $vpos), $hpos);
  // Angle naviding each spoke.
  $spoke-angle: $visible-angle / $spokes; // A little padding between the start and end of the arc.
  $spoke-padding: $spoke-angle;

  margin: 0;
  max-width: 0 !important;
  padding: 0;
  position: fixed;
  width: 0 !important;

  @if $hpos == "right" {
    right: $hoffset;
  }

  @if $hpos == "left" {
    left: $hoffset;
  }

  @if $hpos == "center" {
    left: 50%;
    margin-left: -1 * $hoffset;
  }

  @if $vpos == "top" {
    top: $voffset !important;
  }

  @if $vpos == "bottom" {
    bottom: $voffset;
  }

  @if $vpos != "top" and $vpos != "bottom" {
    top: $voffset;
  }

  > label > img {
    border-radius: 50%;
    display: block;
    height: $trigger-size;
    margin: 0;
    padding: 0;
    transition: all $transition ease-out;
    width: $trigger-size;
  }

  &:hover > label > img {
    transform: scale3d($trigger-scale, $trigger-scale, 1);
    transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
  }

  > nav {
    padding: 0;
    margin: 0;
    width: 0;
  }

  > nav > a {
    > img {
      height: $btnsize;
      width: $btnsize;
      // visibility: hidden;
      opacity: 0;
    }
    display: block;
    position: absolute;
    right: -4.5em; // huh?
    top: 0;
    transition: transform $transition ease;
    z-index: 2;
  }

  > nav > a > img:hover {
    transform: scale3d(1.3, 1.3, 1);
    transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
  }

  &:hover > nav > a > img {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @for $spoke from 1 through $spokes {
    // Using a "zero" based list counter for the trigonometry.
    $zero-shift: $spoke - 1;
    // The angle of each spoke.
    $angle-o-spoke: (($spoke-angle * $zero-shift) + $spoke-padding);
    // Shift them all x number of "hours" depending on where the menu is positioned.
    $angle-o-shift: 30 * $start-o-clock;
    // Calculate the final angle.
    $final-angle: ($angle-o-spoke + $angle-o-shift) % 360;
    // Calculate as a decimal between 0 and 1 for the trigonometry.
    $o-clock: $final-angle / 360;
    // Better folk than me understand this... shutting up and calculating!
    $spoke-x: $radius * cos(2 * $PI * $o-clock);
    $spoke-y: $radius * sin(2 * $PI * $o-clock);
    // Set the spoke style using the "one" based list counter.
    &:hover > nav > a:nth-child(#{$spoke}) {
      transform: translate3d($spoke-x, $spoke-y, 0);
      img {
        // visibility: visible;
        opacity: 1;
      }
    }
  }
}
