#{$pillar} {
  cite {
    background-color: lighten($hell-color, 50);
  }

  var {
    background-color: lighten($pillar-color, 60);
  }

  > li {
    > ul {
      border: 0;
    }
  }

  // @include tight {
  //   @include pillar_containment(1%, 1%);
  // }
}
