$quote-size: 200px;
// LAYOUT ==================
$god-space: 1%; // the horizontal padding in all the prongs.
$heaven-width: 15%; // prong width right (as a percentage to help scaling).
$hell-width: 30%; // prong width left (as a percentage to help scaling).
$personal-space: 12px; // the vertical padding between believers.
$transition: 500ms; // MEDIA BREAKS ==================
$god-loose: 1300px; // loose - prongs divided - no overlap.
$god-cosy: 1000px; // cosy - overlap between sinners and the pillar.
$god-tight: 800px; // tight - believers full width - piller width small margin.
$heaven-cosy: 10%; // cosy - allow the heaven width to grow by this amount.
$hell-cosy: 10%; // cosy - allow the hell width to grow by this amount.
$pillar-cosy: 50%; // cosy - allow the pillar width to grow by this amount.
// COLORS ==================
$heaven-color: #181818;
$pillar-color: #0d0a00;
$hell-color: #fabc84;
$god-color: $hell-color;
$god-blushed: lighten($hell-color, 10); // TEXT ==================
$god-h1: 150%; // font size of h1.
$god-h6: 100%; // font size of h6.
$god-p: 100%; // font size of paragraph text.
$god-spoke: $god-p * 1.3; // standout with big text.
$god-head: "Montserrat"; // for heading level text.
$god-body: $god-head; // for body level text.
// BASICS ==================
$god-border: 1px $god-blushed solid; // general purpose border
$inline-padding: 3px;
$toothpaste-color: "none"; // BELIEVERS ==================
$container: (main); // sin classes only affect direct children of these
$pillar: (
  h1,
  h2,
  h3,
  h4,
  p,
  ol,
  ul,
  dl,
  hr,
  footer,
  pre,
  table,
  form
); // pillar - all tags are stictly contained the same way - no believers here.
$heaven: (nav, div); // hangs right - gets the best views.
$hell: (blockquote, header, menu, figure); // hangs left.
