table {
  $scrollBorderColor: $god-blushed;
  border: 2px solid red;
  border-spacing: 0;
  table-layout: fixed;
  // overflow-x: auto;
  // text-align: left;
  // vertical-align: top;

  caption {
    font-size: 0.9em;
    background: color("secondary");
  }

  td,
  th {
    padding: 0.35em 0.75em;
    vertical-align: top;
    font-size: 0.9em;
    border: 1px solid color("invisible");
    border-top: 0;
    border-left: 0;

    &:first-child {
      padding-left: 0;
      background-size: 2px 100%;
      background-repeat: no-repeat;
    }

    &:last-child {
      padding-right: 0;
      border-right: 0;
      background-position: 100% 0;
      background-size: 2px 100%;
      background-repeat: no-repeat;
    }

    &:only-child {
      background-position: 0 0, 100% 0;
      background-size: 2px 100%, 2px 100%;
      background-repeat: no-repeat, no-repeat;
    }
  }

  th {
    line-height: size("line-height-min");
  }
}
