form {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    margin-bottom: $personal-space;
  }

  fieldset {
    margin-bottom: 15px;
  }
}
