footer {
  border: none;
  border-top: $pillar-color solid 2px;
  font-size: 0.75rem;
  padding: $god-space;
  text-align: center;
  img {
    height: 80px;
    width: auto;
  }
  label {
    white-space: nowrap;
  }
}
