nav {
  // > a {
  //   background-color: $god-color;
  //   color: $pillar-color !important;
  //   border-bottom: $god-blushed solid 0.5px;
  //   display: inline-block;
  //   padding: $inline-padding $personal-space;
  //   margin: $personal-space;
  // }
  //
  // > label {
  //   display: inline-block;
  //   font-size: 80%;
  //   padding: $inline-padding;
  //   margin: $personal-space;
  // }
  //
  // > a:visited {
  //   color: $god-blushed;
  // }
  //
  // > a:hover {
  //   background: $god-blushed;
  // }
}
