nav {
  @include colorize_god($heaven-color, $god-blushed);
  display: block;
  font-size: 1rem;
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: -1;

  a {
    background: $god-color;
    color: $god-blushed;
    border: $pillar-color solid 0.5px;
    display: inline-block;
    padding: $inline-padding;
    margin: $personal-space;
  }

  label {
    display: inline-block;
    font-size: 80%;
    padding: $inline-padding;
    margin: $personal-space;
  }

  a:visited {
    color: $pillar-color;
  }

  a:hover {
    background: $god-blushed;
    color: $god-color;
  }

  > a:first-child:hover {
    @include colorize_god(inherit, inherit);
  }

  > a:last-child {
    border-bottom: none;
  }

  > a:first-child {
    @include colorize_god(inherit, inherit);
    img {
      @include fixed_height(48px);
      width: auto;
    }
    border-bottom: none;
    color: white;
    padding: 0 0 $personal-space 0;
  }
}
