nav {
  a {
    background: $god-color;
    color: $pillar-color;
    border-bottom: $pillar-color solid 0.5px;
    display: inline-block;
    padding: $inline-padding;
    margin: $personal-space;
  }

  label {
    display: inline-block;
    font-size: 80%;
    padding: $inline-padding;
    margin: $personal-space;
  }

  a:visited {
    color: $god-blushed;
  }

  a:hover {
    @include colorize_god(white, black);
  }

  > a:first-child:hover {
    @include colorize_god(inherit, inherit);
  }

  > a:last-child {
    border-bottom: none;
  }

  > a:first-child {
    @include colorize_god(inherit, inherit);
    img {
      @include fixed_height(48px);
      width: auto;
    }
    border-bottom: none;
    color: white;
    padding: 0 0 $personal-space 0;
  }
}
